

<h2>Stupid Coaching</h2>
  <div style="border-color: #F4F4F4; border-left: 5px solid black; padding: 1px 0px 1px 10px">

    <p><%= @question  %></p>
    <p>-You</p>
  </div>
  <br>
  <div style=" background-color: #FFFEE0; border-color: #F4F4F4; border-left: 5px solid black; padding: 1px 0px 1px 10px"">
    <p style="font-weight: bold"><%= @answer %></p>
    <p>-The Coach</p>
  </div>
  <p><%=link_to("retourner à Ask", ask_path) %></p>
</div>
